[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
ipykernel = "*"
openpyxl = "*"
lxml = "*"
html5lib = "*"
beautifulsoup4 = "*"
schedule = "*"
ratelimit = "*"
backoff = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
